:root{
  --sqrColor: rgb(231, 231, 231);
  --sqrHoverColor: rgba(47, 130, 207, 0.448);
  --sqrActiveColor: rgba(47, 130, 207, 0.841);
  --sqrBlockedColor: rgb(120, 120, 120);
  --sqrWinColor: rgb(160, 215, 160);
  --sqrTieColor: rgb(213, 115, 115);
}
body {
  background-color: gainsboro;
  /* Use a system font, if none are available use an available sans-sarif */
  font-family: system-ui, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 325px;
}

.sqr {
  width: 30%;
  aspect-ratio: 1/1;
  border: 3px solid black;
  font-size: 64px;
  text-align: center;
  cursor: pointer;
  background-color: var(--sqrColor);
}
.not-filled:hover{
  background-color: var(--sqrHoverColor);
}
.not-filled:active{
  background-color: var(--sqrActiveColor);
}

.blocked, .blocked:hover{
  background-color: var(--sqrBlockedColor);
  
}

.filled:hover, .filled:active{
  background-color: var(--sqrColor);

}
.win, .win:hover{
  background-color: var(--sqrWinColor);
}

.tie, .tie:hover{
  background-color: var(--sqrTieColor);
}

#reset{
  margin: 1.5rem;
  font-size: 25px;
  border-radius: 30px;
  padding: 10px 30px;
  cursor: pointer;
  transition: all .1s ease-in-out;
}
#reset:hover{
  transform: translateY(-3px);
}
#reset:active{
  background-color: rgb(120, 120, 120);
  color: white;
}
